/* div & span */

div {
  color: red;
  background-color: black;
}

.first {
  color: green;
  background-color: yellow;
}

span {
  text-transform: uppercase;
}
.text {
  color: green;
  background-color: yellow;
  font-size: 30px;
}
