/* last rule and specificity and universal selector */

* {
  color: aqua;
}

/* #heading {
  color: blueviolet;
}

.special {
  color: green;
}

.heading {
  color: yellow;
}

p {
  color: red;
}
p {
  color: blue;
} */

.special {
  color: green;
}
